.btn {
	
	width:  140px;
	

}

.form-control {

	float:left;
    width:140px;
}


.dropdown-menu.show {
	
	min-width:  140px;
	/*padding-right: 0px;*/
	/*padding-left: 1px;*/

}

.dropdown-item {
	
	width:  140px;
	padding-right: 10px;
	padding-left: 10px;
/*	margin-right: -100px;*/

}

#unitsTab > .nav-item > .nav-link {

	width: 90px;
	border: solid #007BFF 1px ;
	padding-right: 0px;
	padding-left: 0px;
	margin: 0.5px;
}

#unitsTab > .nav-item > .nav-link > .a {

	
	padding-right: 0px;
	padding-left: 0px;
}

dt {
	text-align: left;

} 

.card {

	max-width: 325px;
	min-width:325px;
}

 .container {

 	padding-top:10px;
 }
